<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="AppTitle" value="XX设备激活管理系统" />
    <!--SQLite 文件-->
    <add key="SQLiteConn" value="Data Source=C:\EquActiveInfo.db;Pooling=true;FailIfMissing=false"/>
    <add key="mapdir" value="D:\" />
    <add key="mapurl" value="http://p0.map.soso.com/maptilesv3/" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=~/Temp/ChartImage/;" />
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccessServiceSoap" maxReceivedMessageSize="202400000">
          <readerQuotas maxStringContentLength="2024000000"/>
        </binding>
        <binding name="EquipmentServiceSoap" maxReceivedMessageSize="202400000">
          <readerQuotas maxStringContentLength="2024000000"/>
        </binding>
        <binding name="TimingServiceSoap" maxReceivedMessageSize="202400000">
          <readerQuotas maxStringContentLength="2024000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5000/Server/AccessService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AccessServiceSoap"
        contract="AccessService.AccessServiceSoap" name="AccessServiceSoap" />
      <endpoint address="http://localhost:5000/Server/EquipmentService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EquipmentServiceSoap"
        contract="EquipmentService.EquipmentServiceSoap" name="EquipmentServiceSoap" />
      <endpoint address="http://localhost:5000/Server/TimingService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TimingServiceSoap"
        contract="TimingService.asmx.TimingServiceSoap" name="TimingServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>