<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccessServiceSoap" />
                <binding name="BaseServiceSoap" />
                <binding name="EquipmentServiceSoap" />
                <binding name="TimingServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/Server/AccessService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccessServiceSoap"
                contract="AccessServ.AccessServiceSoap" name="AccessServiceSoap" />
            <endpoint address="http://localhost:5000/Server/BaseService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BaseServiceSoap"
                contract="BaseServ.BaseServiceSoap" name="BaseServiceSoap" />
            <endpoint address="http://111.121.195.235:5000/Server/TimingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TimingServiceSoap"
                contract="TimingServ.TimingServiceSoap" name="TimingServiceSoap" />
            <endpoint address="http://111.121.195.235:5000/Server/EquipmentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EquipmentServiceSoap"
                contract="EquipmentServ.EquipmentServiceSoap" name="EquipmentServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
