<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <!--<appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender" >-->

  <!--文本日志输出格式-->
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <!--存放日志的路径-->
    <!--<param name="File" value="D:\\ProLogs\\ss\\" />-->
    <param name="File" value="..\\ProLogs\\" />
    <!--缓存记录数-->
    <param name="bufferSize" value="1"/>
    <!--是否想日志文件中追加-->
    <param name="AppendToFile" value="true" />
    <!--最多保存多少天的记录-->
    <param name="MaxSizeRollBackups" value="100" />
    <!--日期文件是否固定不变-->
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd'.log'" />
    <!--日志根据日期滚动-->
    <param name="RollingStyle" value="Date" />
    <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--使用Unicode编码-->
    <Encoding value="UTF-8" />

    <layout type="Pro.Base.Logs.ProLayout">
      
      <conversionPattern value="记录时间：%date - 流水号:[%property{SeqNo}] -日志描述:[%property{Details}] - 日志级别：%-5level -用户:[%property{UserName}] -MNGCode:[%property{MNGCode}] -APPFlag:[%property{AppFlag}]  - 返回值:[%property{ResultDesc}] - 参数：[%property{ParamDesc}]-URL:[%property{URL}]- IP:[%property{IP}] - 调用方法描述:[%property{CallDesc}]- 日志大类:[%property{LogClass}] - 日志小类:[%property{SubClass}]-错误描述：[%property{ErrorMsg}]   %newline%newline" />
    </layout>
  </appender>

  <!--数据库日志格式定义-->
  <appender name="DataBaseAppender" type="Pro.Base.Logs.DataBaseAppender">
    <connectionType value ="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=tns_zxpt;User ID=pro_zxpt;Password=pro_zxpt;" />
    <!--<immediateFlush value="true" />-->
    <commandText value="insert into logs(logid, appflag, mngcode, seqno, url, ip, loglevel, username, logclass, subclass, calldesc, paramdesc, resultdesc, details,expinfo,LOGFROM) values(SQC_LOGLIST.Nextval,:appflag,:mngcode,:seqno,:url,:ip,:loglevel,:username,:logclass,:subclass,:calldesc,:paramdesc,:resultdesc,:details,:exception,:logfrom)"  />
    <!--缓存记录数-->
    <bufferSize value="1" />
    <parameter>
      <parameterName value=":appflag" />
      <dbType value="String" />
      <size value="10" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{AppFlag}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":mngcode" />
      <dbType value="String" />
      <size value="10" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{MNGCode}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value=":seqno" />
      <dbType value="String" />
      <size value="10" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{SeqNo}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value=":url" />
      <dbType value="String" />
      <size value="500" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{URL}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":ip" />
      <dbType value="String" />
      <size value="35" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{IP}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":loglevel" />
      <dbType value="String" />
      <size value="10" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{LevelLog}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":username" />
      <dbType value="String" />
      <size value="50" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{UserName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":logclass" />
      <dbType value="String" />
      <size value="100" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{LogClass}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":subclass" />
      <dbType value="String" />
      <size value="100" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{SubClass}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":calldesc" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{CallDesc}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":paramdesc" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{ParamDesc}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value=":resultdesc" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{ResultDesc}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value=":details" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{Details}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{ErrorMsg}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value=":logfrom" />
      <dbType value="String" />
      <size value="100" />
      <layout type="Pro.Base.Logs.ProLayout">
        <conversionPattern value="%property{LogFrom}" />
      </layout>
    </parameter>

  </appender>

  <!--写入到文本日志-->
  <!--
  <logger name="FileLog">
    <level value="All"/>
    <appender-ref ref="FileAppender" />
  </logger>

  -->
  <!--写入数据库日志-->
  <!--
  <logger name="DataBaseLog">
    <level value="Debug"/>
    <appender-ref ref="DataBaseAppender" />
	<appender-ref ref="FileAppender" />
  </logger>-->


  <!--debug日志写入到文本-->
  <logger name="debug">
    <level value="All"/>
    <appender-ref ref="FileAppender" />
  </logger>
  <!--info日志写入数据库-->
  <logger name="info">
    <level value="All"/>
    <appender-ref ref="DataBaseAppender" />
  </logger>
  <!--error日志写入文本-->
  <logger name="error">
    <level value="All"/>
    <appender-ref ref="FileAppender" />
  </logger>

  <!--<logger name="error">
    <level value="All"/>
    <appender-ref ref="DataBaseAppender" />
  </logger>-->

</log4net>